<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>

	<style>
		body {
			background-color: lightblue;
		}
	</style>

</head>

<body>

	<div align="center">
		<h1>Editing Student</h1>
		<!-- connects with /add url mapping-->
		<!-- phone object is passed from controller from method-->
		<!-- we use {/add} to save the edited student back to the database -->

		<form action="#" th:action="@{/add}" th:object="${student}" method="post">

			<table>

				<tr>
					<!-- need this to edit student without making new object of student -->
					<!-- we make this read only so we cant edit this field-->
					<td>Id:</td>
					<td><input type="number" th:field="*{id}" readonly="readonly" /> </td>
				</tr>

				<tr>
					<td>Student Name:</td>
					<td><input type="text" th:field="*{name}" /> </td>
				</tr>

				<tr>
					<td>Student Gender:</td>
					<td><input type="text" th:field="*{gender}" /> </td>
				</tr>

				<tr>
					<td>Student Subject:</td>
					<td><input type="text" th:field="*{subject}" /> </td>
				</tr>


				<tr>
					<td>Student Age:</td>
					<td><input type="number" th:field="*{age}" /> </td>
				</tr>

				<!-- button logic-->
				<tr colspan="2"> <button type="submit">Update</button> </tr>
			</table>

		</form>
	</div>

</body>

</html>